<%= form_for(@text_info) do |f| %>
  <% if @text_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text_info.errors.count, "error") %> prohibited this text_info from being saved:</h2>

      <ul>
      <% @text_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :lecture_name %><br>
    <%= f.text_field :lecture_name %>
  </div>
  <div class="field">
    <%= f.label :textbook_name %><br>
    <%= f.text_field :textbook_name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
