<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @text_info.user_id %>
</p>

<p>
  <strong>Lecture name:</strong>
  <%= @text_info.lecture_name %>
</p>

<p>
  <strong>Textbook name:</strong>
  <%= @text_info.textbook_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @text_info.price %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @text_info.comment %>
</p>

<p>
  <strong>Image:</strong>
  <%= @text_info.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @text_info.status %>
</p>

<%= link_to 'Edit', edit_text_info_path(@text_info) %> |
<%= link_to 'Back', text_infos_path %>
